body{
  background-color: lightgrey;
  text-decoration: none;
  color: salmon;
  font-family: Helvetica;
  font-size:30px;
}

nav {
  list-style-type: none;
  position: fixed;
  background-color: gray;
  top:0;
  width: 100%;
  left: 0;
  font-family: Helvetica;
  font-size: 20px;
}
li {
  display: inline;
  padding: 15px;
  float: right;
}
li:hover {
  background-color: salmon;
}

a {
  text-decoration: none;
  color: salmon;
}
